<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <style>
        html, body { padding: 0; margin: 0; }
        #root { width: 100vw; height: 100vh; display: flex; align-items: center; justify-content: center; }
    </style>
</head>
<body>
    <div id="root"></div>
</body>
</html>